html {
  position: relative;
  min-height: 100%;
}
.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding:0;
}

.thumbnail .caption-full {
    padding: 9px;
} 
#username {
    text-transform: capitalize;
}
.del-form {
    display: inline;
}
body {
    
    background: linear-gradient(to top, #4A569D, #DC2424); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 70px;
    margin-bottom: 20px;

}
#map {
    height: 400px;
    width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
}

.flex-wrap {
  display:flex;
  flex-wrap: wrap;
}
glyphicons-tent {
    top:20px;
}